
@using PagedList.Mvc;
@{
    ViewBag.Title = "Profit/Loss Summary";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    

</center>
<input type="button" onclick="javascript:window.print();" value="Print" class="eabutton section-to-not-print" />

<center>
    <table class="table-bordered section-to-print" width="100%">
        <thead>
           <b> Expenditure: Items</b>
        </thead>
        <tr>
            <th>
                Sr No
            </th>
            <th>
                Site
            </th>
          

            <th>
               Quantity
            </th>
            <th>
                Price
            </th>
   

        </tr>
        @{int i = 1;decimal tot=0; }
        @foreach (var item in ViewBag.ExpenditureItem)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @item.SiteName
                </td>
              
                <td>
                    @item.QtyAdded
                </td>
                <td>
                    @{ tot = tot + item.Amount;}
                    @(String.Format("{0:#,##0.00}", item.Amount))
                  
                </td>

            </tr>
            i++;
        }
        <tr>
            <td><b>Total</b>td>
            <td colspan="3"><b>@(String.Format("{0:#,##0.00}", tot))</b></td>
        </tr>

    </table>

    <br />
    <table class="table-bordered section-to-print" width="100%">
        <thead><b>Expenditure: Labours</b></thead>
        <tr>
            <th>
                Sr No
            </th>
            <th>
            Site
            </th>
         

            <th>
                Quantity
            </th>
        <th>
            Price
        </th>

        </tr>
        @{int a = 1; decimal stot = 0;}
        @foreach (var item in ViewBag.ExpenditureLabour)
        {
            <tr>
                <td>
                    @a
                </td>
                <td>
                    @item.SiteName
                </td>
            
                <td>
                    @item.Qty
                </td>
                <td>
                    @{ stot = stot + item.Amount; }
                    @(String.Format("{0:#,##0.00}", item.Amount))
                  
                </td>


            </tr>
            a++;
        }
        <tr>
            <td><b>Total</b></td>
            <td colspan="3"><b>@(String.Format("{0:#,##0.00}", stot))</b></td>
        </tr>
    </table>
    <br />
    <br />
        <table class="table-bordered section-to-print" width="100%">
        <thead><b><big>Income</big></b></thead>
        <tr>
            <th>
                Sr No
            </th>
        
            <th>
                Site Name
            </th>

       
            <th>
               Tax Amount
            </th>
            <th>
                Amount
            </th>

        </tr>
        @{int c = 1; decimal itot = 0;}
        @foreach (var item in ViewBag.Income)
        {
            <tr>
                <td>
                    @c
                </td>
             
                <td>
                    @item.SiteName
                </td>
              
                <td>
                    @item.TaxAmt
                </td>
                <td>
                    @{ itot = itot + item.GrandTotalNoTax; }
                    @(String.Format("{0:#,##0.00}", item.GrandTotalNoTax))
                  
                </td>


            </tr>
          a++;
         }
        <tr>
            <td><b>Total</b></td>
            <td colspan="3"><b>@(String.Format("{0:#,##0.00}", itot)) </b></td>
        </tr>
        <tr>
            <td >
                <b>
                    @{
                        decimal exp = tot + stot;
                        decimal profit = exp - itot;
                    }
                    @if (profit >= 0)
                    {
                        @:Profit
                    }
                    else
                    {
                        @:Loss
                    }
                </b>
            </td>
            <td colspan="3">
                <b> @(String.Format("{0:#,##0.00}", profit))</b> 
            </td>
        </tr>
    </table>
</center>