@model PagedList.IPagedList<Samara.ReorderDet>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Reorder Level Alerts";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>


</center>
<br />

<table class="table">
    <tr>
        <th>
            Sr No
        </th>
        <th>
            Site Name
        </th>
        <th>
            Item Name
        </th>
        <th>
          Current Stock
        </th>
        <th>
          Reorder Level
        </th>
        <th></th>

    </tr>
    @{int i = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
        </tr>
        i++;
    }

</table>
