@model Samara.MAsterWork_Details
@using PagedList.Mvc;
@{
    ViewBag.Title = "Work Details: Rate Additions";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>



    <table class="table-condensed">
      
        @using (@Html.BeginForm())
        {
            if (ViewBag.WorkDets != null)
            {        
                   @Html.Hidden("WorkID", (int)ViewBag.WorkDets.WorkID)
                @Html.Hidden("LabourID", (int)ViewBag.WorkDets.LabourID)


                   @Html.Hidden("WorkDetailID", (int)ViewBag.WorkDets.WorkDetailID)
                   @Html.Hidden("or", (decimal)ViewBag.WorkDets.Amount)

             <tr>
               <td>@Html.Label("Additions")</td>
               <td>@Html.Label((string)ViewBag.WorkName, new { @class = "form-control" })</td>                    
            </tr>
      
            <tr>
                <td>@Html.Label("Percentage")</td>
                <td>@Html.TextBox("Percentage", (int)ViewBag.WorkDets.Percentage, new { @class = "form-control"  } )</td>
            </tr>
          

            }
            else
            {
                <tr><td class="col-md-4">Work Name:</td><td class="col-md-4">@Html.DisplayFor(modelItem => Model.Work.WorkName)</td></tr>
                <tr><td class="col-md-4">Unit:</td><td class="col-md-4">@Html.DisplayFor(modelItem => Model.Work.UnitName)</td></tr>
                <tr><td class="col-md-4">Rate:</td><td class="col-md-4">@Html.DisplayFor(modelItem => Model.Work.Rate)</td></tr>

                if (ViewBag.WorkID != null)
                {
                    @Html.Hidden("WorkID", (int)ViewBag.WorkID)
                }
            
              
                <tr>
                    <td>@Html.Label("Addition Description")</td>
                
                    <td>@Html.DropDownList("RateAdditionID",null,new { @class = "form-control" })</td>
                    
                </tr>
                <tr>
                    @*<td>@Html.Label("Percentage")</td>
                    <td>@Html.Editor("Percentage", new { htmlAttributes = new { @class = "form-control" } })</td>*@
                </tr>
   
          
           
            }
            <tr>
                <td>
                    <input style="color:black;" action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />
                </td>
                <td><input type="submit" value="Submit" style="color:black;"/></td>                
            </tr>
        }
    </table>
</center>
<br />
  @if (ViewBag.WorkDets == null)
  {
<table class="table">
    <tr>
        <th>
            Sr No
        </th>
    
        <th>
           Addition Description
        </th>
      
        <th>
         Percentage
        </th>
        <th>Amount</th>
        
        <th></th>

    </tr>
    @{int i = 1; }
    @foreach (var item in Model.WorkDets)
    {
        <tr>
            <td>
                @i
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.RateAdditionDesc)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "RateAdditionManageDetails", new { id = item.WorkDetailID })
            </td>
        </tr>
        i++;
    }
</table>


        }
