@model PagedList.IPagedList<Samara.ClientDet>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Client Bills";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    
    @using (Html.BeginForm("Index", "ClientBill", FormMethod.Get))
    {        
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp; Client Name:</td>
                        <td> @Html.TextBox("ClientName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</center>

<p>
    @Html.ActionLink("Create New", "Manage")
</p>
<table class="table">
    <tr>
        <th>
            Sr No
        </th>
        <th>
            Client Name
        </th>
        <th>
            Site Name
        </th>
        <th>
           Date
        </th>
        <th>
            Retention Perc(%)
        </th>
        <th>
            Tax Perc(%)
        </th>
        <th></th>

    </tr>
    @{int i = 1; }
@foreach (var item in Model) {
    <tr>
        <td>
           @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetentionPerc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxPerc)
        </td>
 
        <td>
            @Html.ActionLink("Edit", "Manage", new { id=item.CBillID }) |@Html.ActionLink("Details", "Details", new { id = item.CBillID })
            
        </td>
    </tr>
    i++;
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

